body {
    font-family: 'Lato', sans-serif;
    user-select: none;
    top: 15%;
    left: 21.5%;
    position: absolute;
    width: 105vh;
    border-radius: 15px;
    border: 0px;
    overflow: hidden;
}

.bank-container {
    margin-left: 30%;
    background-color: #171e24;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    height: 65vh;
    border: 0px;
}

.bank-main-card {
    margin-top: 5px;
    background-color: #171e24;
    padding: 15px;
    border-radius: 10px;
    border: 0px;
}

.bank-main-card .bank-logo {
    float: right;
}

.bank-main-card-content {
    float: left;
}

.bank-main-card h4 {
    margin: 0;
    padding: 0;
}

.bank-container p {
    padding: 0;
    margin: 0;
}

.select-container {
    width: 30%;
    position: absolute;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #171e24;
}

h5 {
    text-transform: uppercase;
    margin: 0;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 0;
    color: #faffff;
}

.badge {
    margin-left: 10px;
    background-color: #171e24;
    color: #2d3a43;
    padding: 5px;
    border-radius: 10px;
    font-size: 8px;
}

.bottom-border {
    border-bottom: 2px solid #2d3a43;
    width: 75%;
    margin: 0;
    margin-left: 15px;
}

.whitespace {
    padding-top: 5px;
}

.account-card {
    border-left: 4px solid #2d3a43;
    height: auto;
    width: auto;
    background-color: #171e24;
    color: #faffff;
    margin: 14px;
    padding: 10px;
}

.account-card i {
    color: #faffff;
    font-size: 32px;
}

.account-card:hover {
    color: #faffff;
    background-color: #1c2a35;
}

.account-card-container {
    color: #faffff;
    padding-left: 5px;
}

.account-card-container p {
    color: #faffff;
    margin: 0;
    padding: 0;
}

.account-card-container .account-name {
    color: #faffff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.account-card-container .account-number {
    color: grey;
    font-size: 14px;
    text-transform: uppercase;
}

.account-card-container .account-amount {
    border: 0px;
    color: #faffff;
    font-size: 15px;
}

.button {
    position: relative;
    color: #faffff;
    width: 28vh;
    height: 15%;
    background-color: #171e24;
    border-radius: 15px;
    margin-top: 25%;
    margin-left: 3.5%;
}

.button > p {
    font-size: 3vh;
    color: #faffff;
    padding-top: 10%;
    text-align: center;
}

.button:hover {
    color: #faffff;
    background-color: #1c2a35;  
}

.type-container {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.info-name {
 position: absolute;
 top: 1.5%;
 right: 10%;
 width: 50vh;
 height: 5vh;
 border-radius: 15px;
 border-left: 5px solid rgb(51, 51, 51);
 background-color: #171e24;
}

.info-name > p {
    color: #faffff;
 text-align: left;
 margin-left: 30%;
 margin-top: 2.5%;
 font-size: 2vh;
}

.info-balance {
 position: absolute;
 top: 19.5%;
 right: 10%;
 width: 50vh;
 height: 15vh;
 border-radius: 15px;
 border-left: 5px solid rgb(51, 51, 51);
 background-color: #171e24;
}

.info-banknumber {
  position: absolute;
  bottom: 1.5%;
  left: 1.5%;
  width: 26vh;
  height: 3vh;
  border-radius: 15px;
  border-left: 5px solid #1c2a35;
  background-color: #171e24; 
 }
 
.info-banknumber > p {
  text-align: center;
  margin-top: 1%;
  font-size: 2vh;
}

.input-container {
 position: absolute;
 bottom: 20.5%;
 right: 10%;
 width: 50vh;
 height: 15vh;
 font-size: 52px;
 font-weight: 650;
 border-radius: 15px;
 border: 0px;
 color: #faffff;
 border-left: 5px solid #1c2a35;
 background-color: #171e24;
}

.info-balance > p {
  text-align: left;
  margin-left: 2%;
  margin-top: 5.5%;
  font-size: 7vh;
}

.logo {
 position: absolute;
 top: 2vh;
 left: 45vh;
 width: 17vh;
 height: 3.2vh;
}

.loader {
 position: absolute;
 left: 45vh;
 top: 22vh;
 border: 16px solid #f3f3f3;
 border-top: 16px solid rgb(105, 105, 105);
 border-radius: 50%;
 width: 15vh;
 height: 15vh;
 animation: spin 4s linear infinite;
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
 }

.left {
    width: 65%;
    float: left;
}

.small-bottom-border {
    padding-top: 5px;
    border-bottom: 2px solid grey;
    width: 60%;
}

.bank-title {
    color: #faffff;
    font-weight: bold;
    font-size: 16px;
}

.whitespace-2x {
    padding-top: 20px;
}

.bank-transaction {
    padding-top: 5px;
}

.bank-transaction-slicer {
    padding-top: 2px;
    border-bottom: 1px solid grey;
    width: 40%
}

.transaction-title {
    font-size: 14px;
}

.transaction-time {
    color: grey;
    font-size: 12px;
}

.muted {
    padding-top: 5px !important;
    font-size: 14px;
    color: #faffff;
}

.bank-actions {
    display: inline-block;
}

.bank-form:hover {
    color: #faffff;
    background-color: #171e24;
    border-bottom: 3px solid #b3b3b3;
}

.bank-form:focus {
    outline: none;
    background-color: #171e24;
    border-bottom: 3px solid #b3b3b3;
}

.bank-actions-button {
    color: #faffff;
    margin-top: 10px;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-bottom: 2px solid #E0E0E0;
    width: 355px;
}

.bank-withdraw {
    color: white;
    background-color: #43A047;
    border-bottom: 3px solid #1B5E20;
}

.bank-withdraw:hover {
    background-color: #66BB6A;
    border-bottom: 3px solid #2E7D32;
}

.bank-deposit {
    color: white;
    background-color: #03A9F4;
    border-bottom: 3px solid #0171a5;
}

.bank-deposit:hover {
    background-color: #52c8ff;
    border-bottom: 3px solid #0780b8;
}

.bank-button-logout {
    position: absolute;
    top: 84.7%;
    left: -2%;
    margin: 20px !important;
    border: none;
    width: 270px;
    padding: 20px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #E53935;
    border-left: 4px solid #8a1616;
}

.bank-button-logout:hover {
    background-color: #ee625f;
    border-left: 6px solid #af2323;
}

.selected-bank {
 border-left-color: #4CAF50;
}

.account-data-multi {
    outline: none;
    border: 0px;
    position: absolute;
}

.bank-multiuser-list {
    outline: none;
    border: 0px;
    position: absolute;
    top: 4vh;
    right: 0;
    padding: 1vh;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #171e24;
}

.bank-multiuser-list ul {
    margin: 0;
    padding: 0;
    display: inline-block
}

.bank-multiuser-list li {
    margin-top: -10px;
    list-style-type: none;
    margin-bottom: 10px;
}

.bank-multiuser-list p {
    margin: 0;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.bank-user-rounded {
    color: #faffff;
    padding: 8px;
    background-color: #171e24;
    border-radius: 50%;
}

.bank-user-rounded:hover {
    color: #faffff;
    background-color: #1c2a35
}

.bank-user-delete i {
    padding-left: 32px;
    color: red;
}

.bank-user-delete i:hover {
    color: rgb(167, 12, 12);

}

.bank-add-user {
    color: #faffff;
    border: 0px;
    padding-top: 10px;
}

.bank-add-user li {
    color: #faffff;
    margin-top: 0px;
}

.bank-add-user .bank-user-rounded i {
    color: #66BB6A;
    font-size: 20px;
    padding: 8px;
}

.bank-add-user-modal {
    color: #faffff;
    position: absolute;
    top: 35vh;
    right: 0;
}

.add-user-container {
    border: 0px;
    outline: none;
    color: #faffff;
    background-color: #171e24;
    padding-right: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.add-user-container input {
    border: 0px;
    outline: none;
    color: #faffff;
    padding: 15px 8px 12px 8px;
    background-color: transparent;
    border: 0px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #2d3a43;
    font-size: 14px;
}

.add-user-container input:hover {
    border: 0px;
    outline: none;
    border-bottom: 2px solid #9b9b9b;
}

.add-user-container button {
    padding: 10px 10px 10px 10px;
    background-color: transparent;
    border: none;
    color: #585858;
    font-size: 18px;
}

.add-user-container button:hover {
    color: #414141;
}

.bank-user-container {
    padding: 20px;
    background-color: #171e24;
    border-left: 4px solid #1c2a35;
}

.bank-main-container {
    padding: 15px;
}

.bank-transaction-container {
    padding: 20px;
    height: 94%;
    width: 85%;
    overflow-x: hidden;                  
    overflow-y: auto;                  
    text-align:justify;
    background-color: #171e24;
}

.bank-transaction-container h5 {
    padding: 0;
    padding-bottom: 3px;
}

.bank-transaction-container .bottom-border {
    margin: 0;
    padding: 0;
}

/* .bank-transaction i {
    color: #0277BD;
    font-size: 18px;
} */

.bank-transaction .transaction-time i {
    color: grey;
    font-size: 10px;
    padding-right: 5px;
}

.card-create-container form p {
    border: 0px;
    font-size: 12px;
    color: #faffff;
    font-style: italic;
    padding-top: 2.5px;
    padding-left: 0;
    margin: 0;
}

.bank-user-container {
    color: #faffff;
    padding: 20px;
    background-color: #171e24;
    border-left: 4px solid #2d3a43;
}

.bank-main-whitespace {
    padding-top: 20px;
}

.bank-main-amount {
    padding-left: 5px;
    font-weight: bold;
    font-size: 26px;
    color: #faffff;
    border-left: 3px solid green;
}

.bank-main-amount p {
    color: #faffff;
    font-size: 14px;
    font-weight: normal;
}

.bank-buttons {
    color: #faffff;
    padding-top: 6px;
}


.bank-number-button i {
    color: #faffff;
    padding: 0;
    margin: 0;
}

.bank-number-button:hover {
    color: #faffff;
    background-color: #10171d;
    border-bottom: 3px solid #2d3a43;
}

.bank-transaction {
    margin-top: 10px;
    background-color: #171e24;
    padding: 10px;
}

.bank-transaction:hover {
    background-color: #1c2a35;
}

.bank-transaction-slicer {
    padding-top: 2px;
    border-bottom: 1px solid grey;
    width: 40%
}

.transaction-title {
    color: #faffff;
    font-size: 14px;
}

.transaction-time {
    color: grey;
    font-size: 12px;
}

.muted {
    padding-top: 5px !important;
    font-size: 14px;
    color: #faffff;
}

.bank-card-create-holder {
    outline: none;
    margin: 0;
    position: absolute;
    color: #faffff;
    top: 0%;
    left: 30%;
    width: 70%;
    height: 100%;
    border: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #171e24;
}

.card-create-container {
    outline: none;
    border: 0px;
    background-color: #1c2a35;
    color: #faffff;
    width: 45%;
    height: 100%;
}

.card-create-container h4 {
    outline: none;
    color: #faffff;
    padding: 20px;
    margin: 0;
}

.h4-title-border {
    color: #faffff;
    border-bottom: 2px solid #2d3a43;
    width: 70%;
    margin-top: -14px;
    margin-left: 20px;
}

.card-create-container p {
    outline: none;
    border: 0px;
    color: #faffff;
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 14px;
}

.card-create-container form {
    outline: none;
    border: 0px;
    color: #faffff;
    padding: 20px;
}

.card-create-input {
    outline: none;
    color: #faffff;
    padding: 18px;
    background-color: #10171d;
    border: 0px;
    border-bottom: 2px solid #2d3a43;
    width: 87%;
    font-size: 14px;
}

.card-create-input:hover {
    outline: none;
    color: #faffff;
    border: 0px;
    background-color: #10171d;
    border-bottom: 2px solid #2d3a43;
}

.card-create-input:focus {
    outline: none;
    border: 0px;
    background-color: #10171d;
    border-bottom: 2px solid #2d3a43;
}

.card-create-actions {
    outline: none;
    color: #faffff;
    display: inline-block;
    margin-top: 257px;
}

.card-create-button {
    color: #faffff;
    margin-top: 8px;
    margin-left: 20px;
    padding: 18px;
    border: none;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 2px solid #2d3a43;
    width: 275px;
}

.button-create {
    color: white;
    background-color: #4CAF50;
    border-bottom: 2px solid #1B5E20;
}

.button-create:hover {
    background-color: #81C784;
    border-bottom: 2px solid #2E7D32;
}

.button-decline {
    color: white;
    background-color: #f44336;
    border-bottom: 2px solid #500b0b;
}

.button-decline:hover {
    background-color: #f55d5a;
    border-bottom: 2px solid #791010;
}


/* 1080p */
@media (min-width: 1900px) {

    .left {
        color: #faffff;
        width: 68%;
        float: left;
    }

    .bank-number-button {
        color: #faffff;
        background-color: #1c2a35;
        border: none;
        border-bottom: 3px solid #2d3a43;
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 70.5px;
        padding-right: 70.5px;
        margin: 2px;
        font-weight: bold;
    }

    .button-backspace {
        padding-left: 65px;
        padding-right: 65px;
    }
    
    .button-enter {
        padding-left: 70.5px;
        padding-right: 70.5px;
    }

    .bank-form {
        padding: 20px;
        color: #faffff;
        background-color: #171e24;
        border: 0px;
        font-size: 18px;
        border-bottom: 3px solid #2d3a43;
        width: 315px; 
    }

    .right {
        position: absolute;
        color: #faffff;
        width: 308px;
        border-radius: 0px 15px 15px 0px;
        top: 0%;
        left: 74%;
        height: 100%;
        float: right;
        background-color: #171e24;
    }

    .bank-button-logout {
        position: absolute;
        top: 84.7%;
        left: -2%;
        margin: 20px !important;
        border: none;
        width: 318px;
        padding: 20px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: #E53935;
        border-left: 4px solid #8a1616;
    }
    
    .bank-button-logout:hover {
        background-color: #ee625f;
        border-left: 6px solid #af2323;
    }

    .bank-actions-button {
        padding: 24px;
        font-size: 18px;
        text-transform: uppercase;
        color: #faffff;
        font-weight: bold;
        border: none;
        border-bottom: 2px solid #2d3a43;
        width: 468px;
    }

    .bank-buttons {
        margin-bottom: 6px;
    }

    .bank-form {
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 22px;
        background-color: #171e24;
        color: #faffff;
        border: none;
        font-size: 18px;
        border-bottom: 3px solid #2d3a43;
        width: 420px; 
    }
    
  }

/* 4K */
@media (min-width: 2000px) {
    .bank-number-button {
        background-color: #171e24;
        border: 0px;
        color: #faffff;
        border-bottom: 3px solid #2d3a43;
        font-size: 16px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 116px;
        padding-right: 116px;
        margin: 2px;
        font-weight: bold;
    }

    .left {
        color: #faffff;
        border: 0px;
        width: 75%;
        float: left;
    }

    .button-backspace {
        padding-left: 110px;
        padding-right: 110px;
    }
    
    .button-enter {
        padding-left: 116px;
        padding-right: 116px;
    }

    .bank-form {
        color: #faffff;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 42px;
        background-color: #171e24;
        border: 0px;
        font-size: 18px;
        border-bottom: 3px solid #2d3a43;
        width: 652px; 
    }

    .right {
        position: absolute;
        color: #faffff;
        width: 308px;
        border-radius: 0px 15px 15px 0px;
        top: 0%;
        left: 81%;
        height: 100%;
        float: right;
        background-color: #171e24;
    }

    .bank-actions-button {
        color: #faffff;
        margin-bottom: 10px;
        padding: 32px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        border-bottom: 2px solid #2d3a43;
        width: 740px;
    }

    .bank-buttons {
        color: #faffff;
        margin-bottom: 30px;
    }

    .bank-button-logout {
        position: absolute;
        top: 87%;
        left: -2%;
        margin: 20px !important;
        border: none;
        width: 430px;
        padding: 30px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
        background-color: #E53935;
        border-left: 4px solid #8a1616;
    }
    
    .bank-button-logout:hover {
        background-color: #ee625f;
        border-left: 6px solid #af2323;
    }
    
}

 /* width */
::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: tansparent;
  height: 5px;
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 5px;
  width: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
} 