body {
    background-color: transparent !important;
    overflow: hidden;
}

.template, .notification {
    display: none;
}

.notif-container {
    width: 20vw;
    position: absolute;
    top: 40vh;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.notification {
    padding: 1vh;
    width: fit-content;
    margin: 4px;
    padding: 10px;
    font: caption;
    font-size: 1.2vh;
    font-weight: bold;
    animation: fadeInLeft;
    animation-duration: 2s;
}

.success {
    background: #27ae60;
    border-left: 5px solid #176236;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
    color: #fff;
}

.primary {
    background-color: #2980b9;
    border-left: 5px solid #194a6b;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
    color: #ffffff;
}

.info {
    background-color: #df9d51;
    border-left: 5px solid #ac783d;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
    color: #ffffff;
}

.error {
    background: #c0392b;
    border-left: 5px solid #72140a;
    box-shadow: 1px 1px 6px rgb(5, 5, 5);
    color: #fff;
}