body {
 overflow: hidden;
 user-select: none;
 font-family: 'Lato', sans-serif;
}

.main-container {
 display: none;
 position: absolute;
 top: 20vh;
 right: -50vh;
}

.menu-container {
 width: 27vh;
 height: 50vh;
 overflow-y: scroll !important;
 overflow-x: hidden;
 border-radius: 4px;

 /* background-color: rgb(59, 59, 59); */
 
 background-color: #171e24;
 box-shadow: 1px 1px 6px rgb(5, 5, 5);
}

.close-menu {
  position: absolute;
  right: 26.4vh;
  top: 0vh;
  width: 5vh;
  height: 5vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #171e24;
}

.close-menu > i {
  margin-top: 0.8vh;
  margin-left: 1.5vh;
  font-size: 3vh;
  color: white;
}

.close-menu > i:hover {
  color: rgba(255, 255, 255, 0.835);
}

.vecicle-container {
 width: 23.5vh;
 height: 4vh;
 margin-top: 1.5vh;
 margin-bottom: 1.5vh;
 margin-left: 1.58vh;
 border-radius: 4px;
 border-top: 1px solid #2d3a43;
 /* background-color: rgb(122, 122, 122); */
 background-color: #1c2a35;
 box-shadow: 1px 1px 6px #10171d;
}

.vecicle-container:hover {
 background-color: #2d3a43;
}

.vecicle-container > p {
 position: relative;
 top: -2.5vh;
 color: white;
 font-size: 1.7vh;
 text-shadow: 1px 1px 2px #000000;
 text-align: center;
 font-weight: 650;
}

.vehicle-status {
  position: relative;
  top: 1.3vh;
  left: 1.5vh;
  color: white;
  font-size: 1.5vh;
  text-shadow: 1px 1px 2px #000000;
}

.vehicle-click-container {
  position: absolute;
  display: none;
  height: 5.5vh;
  width: 27vh;
  top: -6vh;
  right: -50vh;
  border-radius: 4px;
  background-color: #171e24;
  box-shadow: 1px 1px 6px rgb(5, 5, 5);
}

.buttons {
  position: absolute;
  top: 1.8vh;
  left: 2.5vh;
}

.takeout > i {
 margin-right: 0.65vh;
 font-size: 2vh;
 color: white;
 text-shadow: 1px 1px 2px #000000;
}

.takeout > i:hover {
  animation: Shake 1s infinite;
  color: rgba(255, 255, 255, 0.767);
}

.back {
  position: absolute;
  top: 0.12vh;
  left: 4vh;
}

.back > i {
 margin-right: 0.65vh;
 font-size: 2vh;
 color: white;
 text-shadow: 1px 1px 2px #000000;
}

.back > i:hover {
  animation: Shake 1s infinite;
  color: rgba(255, 255, 255, 0.767);
}

.status-in {
  top: 1vh;
  color: green;
}

.status-out {
  top: 1vh;
  color: red;
}

.selected {
  border-color: #63c5e0;
}

.low {
  background-color: rgb(126, 28, 28);
}

.status-blocks {
  position: absolute;
  top: 1.2vh;
  left: 10vh;
}

.ui-vehiclestatusbarfuel, .ui-vehiclestatusbarmotor, .ui-vehiclestatusbarbody {
 position: relative;
 height: 2.48vh;
 border-radius: 5px;
 border: .3vh solid rgb(138, 138, 138);
 float: left;
 width: 3.5vh;
 margin-left: 0.9vh;
}
 
.ui-vehiclestatusbarfuel > i, .ui-vehiclestatusbarmotor > i, .ui-vehiclestatusbarbody > i {
 position: absolute;
 color: white;
 z-index: 101;
 font-size: 1.7vh;
 margin-top: .4vh;
 margin-left: .83vh;
 text-shadow: .18vh .03vh .08vh rgba(0, 0, 0, 0.267);
}
 
.ui-vehiclestatusbarfuel > .hud-barfill, .ui-vehiclestatusbarmotor > .hud-barfill, .ui-vehiclestatusbarbody > .hud-barfill {
 background-color: #1f851c;
}
 
.hud-barfill {
 position: absolute;
 height: 100%;
 width: 3.60vh;
 left: -0.06vh;
 bottom: -0.021vh;
 transition: .4s ease-in-out;
}

@keyframes Shake {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(-5deg);
  }
  50% {
      transform: rotate(5deg);
  }
  75% {
      transform: rotate(-5deg);
  }
  100% {
      transform: rotate(5deg);
  }
}

::-webkit-scrollbar-track {
 background-color: transparent;
}
 
::-webkit-scrollbar{
 width: 0.3vh;
 background-color: transparent;
}
    
::-webkit-scrollbar-thumb {
 background-color: transparent;
}

.tooltiptext {
 visibility: hidden;
 width: 100px;
 background-color: #1c2a35;
 color: #fff;
 font-weight: 650;
 font-size: 1vh;
 font-family: Arial, Helvetica, sans-serif;
 box-shadow: 0px 0px 6px rgb(5, 5, 5);
 text-shadow: 1px 1px 2px #000000;
 text-align: center;
 padding: 3px 0;
 border-radius: 6px;
 position: absolute;
 z-index: 1;
 bottom: 145%;
 left: 70%;
 margin-left: -60px;
 opacity: 0;
 transition: opacity 0.3s;
}
  
.tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
  
.takeout:hover .tooltiptext, .back:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}