body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#blindfold {
  display: none;
  height: 3000px;
  width: 3000px;
  background: url("../images/blindfold.png");
}
